# Flutter
aip_app/.dart_tool/
aip_app/.flutter-plugins
aip_app/.flutter-plugins-dependencies
aip_app/build/
aip_app/.packages
aip_app/pubspec.lock

# Go
server-go/server-go.exe
server-go/server.log
server-go/error.log
server-go/uploads/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Misc
*.apk
*.ipa
stream_result.txt
device_log.txt
key.txt
key.config.txt
.env
