PORT=8005
MONGO_URI=mongodb://127.0.0.1:27018/aip
DB_NAME=aip
REDIS_ADDR=127.0.0.1:6380
REDIS_PASSWORD=
REDIS_DB=0
JWT_SECRET=your_jwt_secret_here
DEFAULT_AI_BASE=https://apihub.agnes-ai.com/v1/chat/completions
DEFAULT_AI_MODEL=agnes-2.0-flash
UPLOAD_DIR=./uploads
MAX_UPLOAD_SIZE=52428800
